<!DOCTYPE html>
<html>

<head>
	<title>Order Placed Get invoice</title>
</head>

<body style="font-family: Arial, sans-serif; background-color: #f4f4f4; padding: 20px;">
	<div style="background-color: white; padding: 20px; border-radius: 5px; box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);">
		<img src="cid:nrtLogo" alt="Nrt company Logo" style="max-width: 100px;">
		<h2 style="color: #333;">Order Placed Successfully!</h2>
		<p>Thank you <b th:text="${username}"></b> for your order</p>
		<p>Visite again to get exited offers to our site, Your invoice is attached download from below.</p>
		
		<hr>
		<p>If you have any questions or need assistance, feel free to contact us.</p>
		<p>Contact-email: <b>basic.erps@gmail.com</b></p>
	</div>
</body>

</html>